*saveLines:    2000
*scrollBar:    false

! -- colors
*background:             #3f3f3f
*foreground:             #dcdccc
*cursorColor:            #83c048
*highlightColor:         #444444
*underlineColor:         #999999

#include '.config/xcolors/zenburn'

URxvt.font:     -misc-tamsyn-medium-r-normal--12-87-100-100-c-60-iso8859-1
URxvt.boldfont: -misc-tamsyn-bold-r-normal--12-87-100-100-c-60-iso8859-1

! -- word skip
URxvt.keysym.Control-Up:      \033[1;5A
URxvt.keysym.Control-Down:    \033[1;5B
URxvt.keysym.Control-Right:   \033[1;5C
URxvt.keysym.Control-Left:    \033[1;5D

! -- url / text selection
URxvt.perl-ext-common:        default,clipboard,url-select,keyboard-select
URxvt.url-select.launcher:    luakit
URxvt.url-select.underline:   true
URxvt.keysym.M-u:       perl:url-select:select_next
URxvt.keysym.M-Escape:  perl:keyboard-select:activate
